<h2 class="text-center">Bucket Lists</h2>
<div class='table'>
    <table align='center'>
        <!--<th>
            <tr>
                <th>Bucket Lists</th>
            </tr>
        </th>-->
        {{#each bucketlists}}
            <tr>
                <td><a href="/list/slug?user={{user}}&title={{title}}">{{title}}</a></td>
            </tr>
        {{/each}}
    </table>
</div>
<div class="text-center">
    <a href= "/list/create?user={{user}}" class="btn btn-outline-primary">Create New List</a>
    <a href= "/list/delete?user={{user}}" class="btn btn-outline-primary">Delete A List</a>
</div>
