<h3>Activities</h3>
<table class="center">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Activity</th>
      <th scope="col">Price</th>
      <th scope="col">Tag</th>
    </tr>
  </thead>
  <tbody>
        {{#each activities}}
    <tr>
      <td>{{name}}</td>
      <td>{{price}}</td>
      <td>{{tags}}</td>
    </tr>
      {{/each}}
  </tbody>
</table>

</table>

<div> <a href="/list/slug/new?user={{user}}&title={{title}}">Add an Activity</a> </div>

<center>
    <a href= "/list?user={{user}}">All Lists</a>
    <a href= "/list/create?user={{user}}">Create New List</a>
</center>