<h2 class="m-2 text-center">Activities</h2>
<div class="container-lg">
  <table class="center">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Activity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {{#each activities}}
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check" unchecked>
              <label class="custom-control-label" for="check">{{name}}</label>
            </div>
          </th>
            <td>{{price}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </table>
  <a href="/list/slug/new?user={{user}}&title={{title}}" class="btn btn-sm btn-outline-primary">Add an Activity</a>
  <a href= "/list/slug/delete?user={{user}}&title={{title}}" class="btn btn-sm btn-outline-primary">Delete an Activity</a>
  <div class="m-2 text-center">
    <a href= "/list?user={{user}}" class="btn btn-outline-secondary">All Lists</a>
    <a href= "/list/create?user={{user}}" class="btn btn-outline-secondary">Create New List</a>
  </div>
</div>


